.popup {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  align-items: center;
  z-index: 2;
}

.popup::after {
  content: '';
  background-color: black;
  opacity: 0.5;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%
}