.places__like-button {
  background-image: url("../../../images/like-button-disabled.svg");
  background-size: cover;
  display: block;
  width: 22px;
  height: 19px;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 31px;
  margin-right: 0;
}

.places__like-button:hover {
  opacity: 0.5;
}

.places__like-button:active {
  opacity: 1;
  background-image: url("../../../images/like-button-active.svg");
}